In [5]:
import pandas as pd
import numpy as np
from prophet import Prophet

In [6]:
%pip install prophet

Requirement already satisfied: prophet in c:\python312\lib\site-packages (1.1.6)
Requirement already satisfied: cmdstanpy>=1.0.4 in c:\python312\lib\site-packages (from prophet) (1.2.4)
Requirement already satisfied: numpy>=1.15.4 in c:\python312\lib\site-packages (from prophet) (1.26.4)
Requirement already satisfied: matplotlib>=2.0.0 in c:\python312\lib\site-packages (from prophet) (3.9.1.post1)
Requirement already satisfied: pandas>=1.0.4 in c:\python312\lib\site-packages (from prophet) (2.2.2)
Requirement already satisfied: holidays<1,>=0.25 in c:\python312\lib\site-packages (from prophet) (0.58)
Requirement already satisfied: tqdm>=4.36.1 in c:\python312\lib\site-packages (from prophet) (4.66.5)
Requirement already satisfied: importlib-resources in c:\python312\lib\site-packages (from prophet) (6.4.5)
Requirement already satisfied: stanio<2.0.0,>=0.4.0 in c:\python312\lib\site-packages (from cmdstanpy>=1.0.4->prophet) (0.5.1)
Requirement already satisfied: python-dateutil in c:\python312\lib\site-packages (from holidays<1,>=0.25->prophet) (2.9.0.post0)
Requirement already satisfied: contourpy>=1.0.1 in c:\python312\lib\site-packages (from matplotlib>=2.0.0->prophet) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\python312\lib\site-packages (from matplotlib>=2.0.0->prophet) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\python312\lib\site-packages (from matplotlib>=2.0.0->prophet) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\python312\lib\site-packages (from matplotlib>=2.0.0->prophet) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\python312\lib\site-packages (from matplotlib>=2.0.0->prophet) (24.1)
Requirement already satisfied: pillow>=8 in c:\python312\lib\site-packages (from matplotlib>=2.0.0->prophet) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\python312\lib\site-packages (from matplotlib>=2.0.0->prophet) (3.1.2)
Requirement already satisfied: pytz>=2020.1 in c:\python312\lib\site-packages (from pandas>=1.0.4->prophet) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python312\lib\site-packages (from pandas>=1.0.4->prophet) (2024.1)
Requirement already satisfied: colorama in c:\python312\lib\site-packages (from tqdm>=4.36.1->prophet) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\python312\lib\site-packages (from python-dateutil->holidays<1,>=0.25->prophet) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [28]:
from utils import convert_single_to_double_quotes
convert_single_to_double_quotes('weather_data_new.jsonl')
df_weather = pd.read_json('weather_data_new.jsonl', lines=True)
df_weather

,dt,sunrise,sunset,temp,feels_like,pressure,humidity,dew_point,clouds,wind_speed,wind_deg,weather,rain,wind_gust,uvi,visibility
0,1704092400,1704060451,1704101873,303.93,310.93,1008,78,299.65,22,5.29,50,"[{'id': 500, 'main': 'Rain', 'description': 'l...",{'1h': 0.15},NaN,NaN,NaN
1,1704178800,1704146874,1704188304,304.48,311.48,1008,70,298.35,95,4.08,47,"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,NaN,NaN,NaN
2,1704265200,1704233297,1704274736,304.09,310.89,1009,71,298.21,19,3.79,54,"[{'id': 801, 'main': 'Clouds', 'description': ...",NaN,NaN,NaN,NaN
3,1704351600,1704319719,1704361168,304.40,311.40,1009,71,298.51,16,5.83,52,"[{'id': 801, 'main': 'Clouds', 'description': ...",NaN,NaN,NaN,NaN
4,1704438000,1704406141,1704447600,303.38,310.38,1010,78,299.11,33,6.75,39,"[{'id': 500, 'main': 'Rain', 'description': 'l...",{'1h': 0.18},NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,1728284400,1728250695,1728293798,302.43,307.33,1008,74,297.31,36,4.21,222,"[{'id': 802, 'main': 'Clouds', 'description': ...",NaN,4.58,4.26,10000.0
281,1728370800,1728337095,1728380164,303.01,308.09,1008,71,297.18,99,4.49,215,"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,4.98,4.32,10000.0
282,1728370800,1728337095,1728380164,303.01,308.09,1008,71,297.18,99,4.49,215,"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,4.98,4.32,10000.0
283,1728370800,1728337095,1728380164,303.01,308.09,1008,71,297.18,99,4.49,215,"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,4.98,4.32,10000.0
284,1728370800,1728337095,1728380164,303.01,308.09,1008,71,297.18,99,4.49,215,"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,4.98,4.32,10000.0

In [29]:
df_dengue = pd.read_csv('dengue_cases_22_24.csv')
df_dengue.head()

         Date  Week  Cases
0  01/01/2022     1      7
1  08/01/2022     2      1
2  15/01/2022     3      2
3  22/01/2022     4      3
4  29/01/2022     5      3

In [30]:
df_weather['dt'] = pd.to_datetime(df_weather['dt'], unit='s')
df_weather.dt = df_weather.dt.dt.date
df_weather.dt = pd.to_datetime(df_weather.dt)

In [35]:
df_weather['week'] = df_weather['dt'].dt.isocalendar().week
df_weather.head()

,dt,sunrise,sunset,temp,feels_like,pressure,humidity,dew_point,clouds,wind_speed,wind_deg,weather,rain,wind_gust,uvi,visibility,week
0,2024-01-01,1704060451,1704101873,303.93,310.93,1008,78,299.65,22,5.29,50,"[{'id': 500, 'main': 'Rain', 'description': 'l...",{'1h': 0.15},NaN,NaN,NaN,1
1,2024-01-02,1704146874,1704188304,304.48,311.48,1008,70,298.35,95,4.08,47,"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,NaN,NaN,NaN,1
2,2024-01-03,1704233297,1704274736,304.09,310.89,1009,71,298.21,19,3.79,54,"[{'id': 801, 'main': 'Clouds', 'description': ...",NaN,NaN,NaN,NaN,1
3,2024-01-04,1704319719,1704361168,304.40,311.40,1009,71,298.51,16,5.83,52,"[{'id': 801, 'main': 'Clouds', 'description': ...",NaN,NaN,NaN,NaN,1
4,2024-01-05,1704406141,1704447600,303.38,310.38,1010,78,299.11,33,6.75,39,"[{'id': 500, 'main': 'Rain', 'description': 'l...",{'1h': 0.18},NaN,NaN,NaN,1

In [38]:
relevant_col = ['dt', 'week', 'temp', 'feels_like',  'pressure', 'humidity']
df_weather = df_weather[relevant_col]

In [39]:
df_weather_weekly = df_weather.groupby('week').mean()
df_weather_weekly

                      dt        temp  feels_like     pressure   humidity
week
1    2024-01-04 00:00:00  303.894286  310.865714  1009.285714  75.142857
2    2024-01-11 00:00:00  303.051429  309.288571  1009.285714  77.714286
3    2024-01-18 00:00:00  302.632857  307.614286  1009.857143  72.714286
4    2024-01-25 00:00:00  302.492857  306.968571  1013.285714  71.285714
5    2024-02-01 00:00:00  302.830000  307.444286  1012.857143  70.285714
6    2024-02-08 00:00:00  302.614286  307.707143  1012.571429  74.428571
7    2024-02-15 00:00:00  302.364286  307.007143  1012.714286  73.571429
8    2024-02-22 00:00:00  303.497143  309.060000  1011.285714  70.285714
9    2024-02-29 00:00:00  303.895714  308.310000  1011.000000  63.428571
10   2024-03-07 00:00:00  304.780000  310.214286  1009.571429  62.857143
11   2024-03-14 00:00:00  305.085714  310.160000  1011.000000  60.285714
12   2024-03-21 00:00:00  304.957143  309.730000  1010.571429  59.857143
13   2024-03-28 00:00:00  306.310000  312.862857  1011.000000  62.428571
14   2024-04-04 00:00:00  306.702857  313.042857  1008.571429  57.714286
15   2024-04-11 00:00:00  306.508571  312.404286  1009.000000  57.000000
16   2024-04-18 00:00:00  307.437143  313.670000  1007.428571  55.285714
17   2024-04-25 00:00:00  307.658571  314.518571  1006.857143  58.857143
18   2024-05-02 00:00:00  308.140000  313.908571  1006.285714  51.571429
19   2024-05-09 00:00:00  307.528571  314.080000  1008.285714  56.000000
20   2024-05-16 00:00:00  307.604286  314.015714  1006.285714  54.428571
21   2024-05-23 00:00:00  305.357143  312.070000  1006.285714  67.285714
22   2024-05-30 00:00:00  305.207143  312.194286  1008.285714  72.714286
23   2024-06-06 00:00:00  303.968571  310.795714  1008.571429  75.428571
24   2024-06-13 00:00:00  304.148571  311.148571  1008.714286  74.571429
25   2024-06-20 00:00:00  302.805714  309.348571  1007.428571  79.285714
26   2024-06-27 00:00:00  303.910000  310.842857  1008.714286  74.714286
27   2024-07-04 00:00:00  303.432857  310.144286  1008.000000  75.428571
28   2024-07-11 00:00:00  302.690000  309.127143  1006.857143  79.428571
29   2024-07-18 00:00:00  301.927143  307.761429  1007.857143  83.571429
30   2024-07-25 00:00:00  302.730000  309.255714  1007.428571  82.285714
31   2024-08-01 00:00:00  302.837143  309.374286  1008.857143  78.857143
32   2024-08-08 00:00:00  303.911429  310.740000  1008.000000  77.428571
33   2024-08-15 00:00:00  304.308571  311.308571  1008.000000  75.285714
34   2024-08-22 00:00:00  303.754286  310.597143  1008.285714  77.428571
35   2024-08-29 00:00:00  302.161429  308.145714  1007.285714  81.285714
36   2024-09-05 00:00:00  303.570000  310.150000  1008.000000  78.285714
37   2024-09-12 00:00:00  302.277143  307.572857  1004.428571  82.142857
38   2024-09-19 00:00:00  302.435714  308.190000  1005.857143  78.428571
39   2024-09-26 00:00:00  302.191429  307.352857  1008.000000  76.857143
40   2024-10-03 00:00:00  302.281429  306.957143  1007.285714  74.285714
41   2024-10-07 19:12:00  302.894000  307.938000  1008.000000  71.600000